{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<h1>Welcome to the Buildly and Get Motivated Buddies Bug Bounty Program!</h1>
	<p>Buildly and Get Motivated Buddies (GMB) are excited to announce our partnership in offering a comprehensive Bug Bounty Program that rewards you for finding and fixing bugs in our software.</p>
	<h2>How it Works</h2>
	<p>Our program operates on a point-based system through Get Motivated Buddies. You can earn points by identifying and reporting bugs and security vulnerabilities in our software. Once your report has been verified, you will earn points based on the severity of the issue. You can then redeem your points for a chance to receive financial compensation for fixing bugs.</p>
	<p>In addition, by joining the Buildly challenge on Get Motivated Buddies, you can earn a badge from Get Motivated Buddies to display your points on your LinkedIn, Buildly and GitHub profile among others. You will also have the chance to join other groups and challenges on Get Motivated Buddies.</p>
	<h2>Collaboration between Buildly and Get Motivated Buddies</h2>
	<p>We are thrilled to partner with Get Motivated Buddies to provide a comprehensive Bug Bounty Program. Get Motivated Buddies is a platform that provides challenges to help you learn new skills and earn rewards. The mission of GetMotivatedBuddies is to leverage technology to measurably improve well-being for individuals and society. Well-being measures quality of life across different domains, including autonomy, competence, and relatedness.</p>
	<p>Visit <a href="https://www.getmotivatedbuddies.com/">GetMotivatedBuddies.com</a> to learn more and sign up for the Buildly challenge.</p>
	<h2>Tracking Bugs with Buildly Insights</h2>
	<p>We use Buildly Insights to track and manage bugs in our software. With Buildly Insights, we can quickly identify and resolve issues to ensure that our software is of the highest quality. If you're interested in using Buildly Insights for your own software development, visit <a href="https://buildly.io/">Buildly.io</a> to learn more.</p>
	<h2>Join our Bug Bounty Program</h2>
	<p>Joining our Bug Bounty Program is easy. Simply sign up for the Buildly challenge on Get Motivated Buddies and start earning points for finding and fixing bugs in our software. We appreciate your help in improving our software and we look forward to working with you to make it the best it can be.</p>
</div>

{% endblock %}