{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <div class="Do_it text-center">
			<div class="card-body">
        <h2>Buildly Open Source and Product Community</h2>
        <div class="line" style="float: center; width: 62px; margin-left: 500px;"></div>
				<br/>
        <p class="card-text">
					Community is what drives Buildly, from our start we have focused on inclusion and growth for our selves as developers and product team members.
					We encourage everyone that uses Buildly Insights or the Buildly Open Source Developer tools, to join our communites and work together to promote each others products, teams and open source software.
				</p>
      </div>
		</div>
		<main class="conteiner-home">
			<div class="container-commun">
      	<div class="p-5 mb-1 bg-light rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Open Source Community</h1>
            <p class="col-md-10 fs-4" style="text-align: justify;">
      				<img class="community" src="{% static 'img/right-to-repair.png' %}" width="300" alt="image of a wrench in a hand" style="float: left; padding: 10px;">
      				Buildly from it's founding in 2019, has been about promiting Open Source software, software development best practices of making software and making the
              processes of product and software development better and more inclusive.
      				<br/>
      				To learn more about our community and how to parcitpate the best place to start is to read our docs:
      				<ul class="list-group">
        				<li class="list-group-item">
      				    <img src="{% static 'img/github.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0"/>
      				    <a href="https://github.com/buildlyio/docs/blob/master/CODE_OF_CONDUCT.md">CODE_OF_CONDUCT.md</a>
      				  </li>
      					<li class="list-group-item">
      						<img src="{% static 'img/github.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0"/>
      						<a href="https://github.com/buildlyio/docs/blob/master/CONTRIBUTING.md">CONTRIBUTING.md</a>
      					</li>
      					<li class="list-group-item">
      						<img src="{% static 'img/github.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0"/>
      						<a href="https://github.com/buildlyio/docs/blob/master/VISION.md">VISION.md</a>
      					</li>
      				</ul>
      			</p>
            <a href="https://www.github.com/buildlyio" class="button button--primary">Join our GitHub Community</a>
          </div>
        </div>

      	<div class="p-5 mb-1 bg-light rounded-3">
          <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Join the Buildly Discord Community</h1>
      				<p class="col-md-10 fs-4" style="text-align: justify;">
      				<iframe src="https://discord.com/widget?id=937790682297417778&theme=dark" width="350" height="400" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      				<a href="https://discord.com/buildly-foundry" class="button button--primary">Join our Discord Community</a>
      				</p>
      		</div>
      	</div>
      </div>
    </main>
  </div>

{% endblock content %}
