{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="conteiner-home">
	<div class="container-commun">

	 <div class="container-commun__text">
        <img src="{% static 'img/contact.png' %}" style="float: center; margin-left: 100px; margin-top: 60px" height="600" alt="img about" />
	</div>

    <div>
        <form class="formulario" action="/registration" action="../../form-result.php"  method="post" enctype="multipart/form-data" target="_blank">


            <section class="form-register">
                <h4>Contact Us</h4>
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Your Full-name">
                <input class="controls" type="email" name="correo" id="correo" placeholder="Your E-mail">
                <input class="controls" type="url" name="url" id="url" placeholder="Your Linkedin">
                <input class="controls" type="text" name="url" id="url" placeholder="Describe yourself">
                <input class="botons" type="submit" value="submit">
              </section>
	</div>
</main>
{% endblock content %}
