{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="conteiner-home">
	<div class="container-commun">

	 <div class="container-commun__text">
        <img src="{% static 'img/contactB.png' %}" style="float: center; margin-left: 60px; margin-top: 60px" height="600" alt="img about" />
	</div>

    <div>
        <form class="formulario" action="/registration" action="../../form-result.php"  method="post" enctype="multipart/form-data" target="_blank">


            <section class="form-register">
                <h4>Contact Us</h4>
                <p class="text-list">Employment - Community</p>
                <div class="disrow">
                <div>
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Your Name">
                    <input class="controls" type="url" name="url" id="url" placeholder="E-mail">
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Your E-mail">
                    <div class="custom-input-file">
                        <input type="file" id="resume" class="input-file" value="Your Resume" > Your Resume
                    </div>
                    <input class="buttons" type="submit" value="submit">
                </div>
                <div>
                    <input class="controls" type="url" name="url" id="url" placeholder="Your CV/Resume Link">
                    <textarea class="controls" rows="10" cols="40" name="message" placeholder="Additional Information"> Additional Information...</textarea>
                </div>
            </div>
              </section>
	</div>
</main>
{% endblock content %}
