{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}
<script>
  function onSubmit(token) {
    document.getElementById("contact").submit();
  }
</script>
<div class="container">
    <div class="Do_it text-center">
			<div class="card-body">
        <h2>Contact Us</h2>
        <div class="line" style="float: center; width: 62px; margin-left: 500px;"></div>
        <p class="card-text">
					If you want to learn more about Buildly, drop us a line here and we will get back to ASAP!
				</p>
      </div>
		</div>
		<main class="conteiner-home">
			<div class="Do_it text-center">

      <div class="contacto-bg"></div>
      {% load crispy_forms_tags %}
      <form method="post" id="contact">
          {%csrf_token%}
          {%if form%}

          <div class="row bg-white">
              {%for field in form%}
              <div class="col-md-6 p-2">{{field|as_crispy_field}}</div>
              {%endfor%}

          <div class="col-md-12">
          <ul class="list-inline text-right">
              <li class="list-inline-item">
                  <button type="reset" class="btn btn-secondary">Reset</button>
                  <button class="g-recaptcha" data-sitekey="6Le_IUQjAAAAAL96VdafV8HcvdiOLNtA0Fo5UWBl" data-callback='onSubmit' data-action='submit'>Submit</button>
              </li>
          </ul>
              </div>
               </div>
          {%endif%}

      </form>
      </div>

</main>


{% endblock content %}
