{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <div class="Do_it text-center">
			<div class="card-body">
        <h2>Contact Us</h2>
        <div class="line" style="float: center; width: 62px; margin-left: 500px;"></div>
        <p class="card-text">
					If you want to learn more about Buildly, drop us a line here and we will get back to ASAP!
				</p>
      </div>
		</div>

    <main class="conteiner-home">
    	<div class="container-commun">
        <div class="container-commun__text">
            <img src="{% static 'img/contactB.png' %}" style="float: center; margin-left: 60px; margin-top: 60px" height="600" alt="img about" />
        </div>

        <div>
          <form class="formulario" action="/contact/" method="post" enctype="multipart/form-data" target="_blank">


            <section class="form-register">
                <h4>Contact Us</h4>
                <div class="disrow">
                  <div>
                      <p class="text-list">Type of Inquiry:</p>
                  </div>
                  <div>
                      <input class="controls" type="text" list="items" />
                         <!-- List of options -->
                         <datalist id="items">
                         <option value="Partnership"></option>
                         <option value="Employment,"></option>
                         <option value="Community"></option>
                         <option value="Other"></option>
                         </datalist>

                         {%for field in form%}
                         <div class="col-md-6 p-2">{{field|as_crispy_field}}</div>
                         {%endfor%}


                      <input type="submit" class="buttons" data-sitekey="6Le_IUQjAAAAAL96VdafV8HcvdiOLNtA0Fo5UWBl" data-callback='onSubmit' data-action='submit'>

                  </div>
              </div>
            </section>
            </form>
        </div>
      </div>
    </main>
  </div>


{% endblock content %}
