{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="conteiner-home">
	<div class="container-commun">

	 <div class="container-commun__text">
        <img src="{% static 'img/contactB.png' %}" style="float: center; margin-left: 60px; margin-top: 60px" height="600" alt="img about" />
	</div>

    <div>
        <form class="formulario" action="/registration" action="../../form-result.php"  method="post" enctype="multipart/form-data" target="_blank">


            <section class="form-register">
                <h4>Contact Us</h4>
                <div class="disrow">
                <div>
                    <p class="text-list">Partnership:</p>
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Your Name">
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Your E-mail">
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Company URL">
                    <input class="buttons" type="submit" value="submit">
                </div>
                <div>
                    <input class="controls" type="text" list="items" />
                       <!-- List of options -->
                       <datalist id="items">
                       <option value="Development Agency"></option>
                       <option value="Product Team"></option>
                       <option value="Marketing or Ad Agency"></option>
                       <option value="Design or UI"></option>
                       <option value="Other"></option>
                       </datalist>
                    <textarea class="controls" rows="10" cols="40" name="message" placeholder="Additional Information"> Additional Information...</textarea>
                </div>
            </div>
              </section>
	</div>
</main>
{% endblock content %}
