{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<section id="why-us" class="why-us">
  
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Development Partners</h2>
        <p> Experience a smarter and more efficient way of managing your software development projects with Buildly.  
            Development Partners provide services for Buildly Foundry members from all over the world.
        </p>
        <div class="accordion-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">Scaleable Startups
                    <ul>
                      <li>FinTechs</li>
                      <li>IoT</li>
                      <li>Media</li>
                      <li>Platforms</li>
                      <li>EdTech</li>
                    </ul>
            </li>
                <li data-aos="fade-up" data-aos-delay="100">Small Business</li>
                <li data-aos="fade-up" data-aos-delay="100">Enterprise Corporates</li>
                <li data-aos="fade-up" data-aos-delay="100">Non-Profits and NGOs</li>
                <li data-aos="fade-up" data-aos-delay="100">Government</li>
                <li data-aos="fade-up" data-aos-delay="100">Education</li>
            </ul>
            <p>
            Each partner registers for the <a href="https://insights.buildly.io"></a>Insights Platform</a> as a Developer and either a Agency or a Technical CoFounder
            </p>   
          </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="400">
        <img src="{% static 'img/Buildly Release Reports.png' %}">
      </div>
    </div>
  </section><!-- End Services Section -->
  <section id="services" class="services">
    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="400">
        <div class="icon-box">
          <i class="bi bi-brightness-high"></i>
          <h4><a href="#">Technical CoFounder</a></h4>
          <p>Provide Interim or Full time support for a startup or SMB.  Become a Co-Founder or Contract Lead and help lead your new team to a scaleable solution.</p>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="600">
        <div class="icon-box">
          <i class="bi bi-briefcase"></i>
          <h4><a href="#">Development Agency</a></h4>
          <p>As an agency you will provide the majority of the software development and technical team for a new product or update to an existing product.  Negotiate a budget based on the suggestions from Ingishts and get started as soon as you are ready.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="why-us" class="why-us">
    <div class="section-title">
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="600">
        <img src="{% static 'img/budget.png' %}">
      </div>
      <h2>Reporting, Communication and Budgeting easier then ever!</h2>
      <p> Once you start managing your product portfolio as an Agency or a technical cofounder in Insights you will wonder how you ever survived without it.  
          Developed in partnership with many American software agencies, and evolving based on your feedback, these tools will let you work with you company or customer faster, clear up communication and automate reporting.
      </p>

      <p>Get started now with your developer/partner profile for free for 1-month, then when your ready to start finding new products to help get started upgrade your account to a full developer account and start reviewing products pre-selected to fit your skills and talents.</p>
      <a href="https://insights.buildly.io/register" class="btn-learn-more">Signup Now</a>
    </div>
  </section>



{% endblock content %}
