{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="container">
    <div class="Do_it text-center">
			<div class="card-body">
        <h2>End User License Agreement</h2>
        <div class="line" style="float: center; width: 62px; margin-left: 500px;"></div>
      </div>
		</div>
		<main class="conteiner-home">
			<div class="container-commun">


{% endblock content %}