{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="container">
    <div class="Do_it text-center">
			<div class="card-body">
        <h2>FAQ</h2>
        <div class="line" style="float: center; width: 62px; margin-left: 500px;"></div>
        <p class="card-text">
					Got Questions?  We've got some answers!
				</p>
      </div>
		</div>
		<main class="conteiner-home">
			<div class="container-commun">
        <div class="question">
          <p>Why is the Buildly team so Awesome?</p>
        </div>
        <div class="answer">
          <p>That's easy, practice.</p>
        </div>
        <div class="question">
          <p>Why open source?</p>
        </div>
        <div class="answer">
          <p>Also an easy one, because it's awesome!  And because transparency is required to build a constructive and thoughtful community.</p>
        </div>
        <div class="question">
          <p>Can I join your team?</p>
        </div>
        <div class="answer">
          <p>Well if you want a job, it's possible we are always hiring and looking to increase and diversify our team.
            Or you can join our amazing <a href="/community">community</a>, because most of our permeanent team members come from our community.</p>
        </div>
        <p> Didn't find your Answer? Then send us a message and we will do our best to answer it! <a href="/contact">Make Contact</a></p>
      </div>
</main>


{% endblock content %}
