{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="container">
  <div class="Do_it text-center">
		<div class="card-body">
      <h2>The Buildly Foundry</h2>
      <div class="line" style="float: center; width: 62px; margin-left: 500px;"></div>
      <p class="card-text">
				The <b>Buildly Foundry</b> is a community driven effort availabe to select startups using the Insights tool.  It is a collection of open source tools, services, discounts, credits and process frameworks
				that helps startup and enterprise teams launch build and migrate applications to cloud native architectures and maintain them long term.
			</p>
    </div>
	</div>
  <br/>
	<main class="conteiner-home">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="p-5 mb-1 bg-light rounded-3">
            <h1 class="display-5 fw-bold">Open Source Community</h1>
            <p class="col-md-10 fs-4" style="text-align: justify;">
              <b>The Buildly Foundry, and our partners in it help technical development as well as busniess development for Product teams by providing:</b>
              <ul class="list-group">
                <li class="list-group-item">Buildly’s easy to use cloud native architecture and a hosting service to build your new applications.</li>

                <li class="list-group-item">Three months free access to the Buildly Insights product and release tools to keep managers, stakeholders and developers in sync with the state and progress of your application.</li>

                <li class="list-group-item">Access to a network of Buildly certified community development partners who can help with everything from marketing and sales, to hiring and recruiting a CTO or remote development team.</li>
              </ul>
            </p>

        		<p>
        		Graduates of the Buildly Foundry receive discounted rates on Buildly’s hosted product and release tools.

        		Join the Buildly Foundry and spend your time focused on the vision of your application, and stop worrying about the technical problems.
        		</p>
        	  <a href="https://www.f6s.com/buildly-foundry-accelerator-2022/apply" class="button button--primary">Foundry Application</a>
          </div>
        </div>
        <div class="col">
          <div class="p-5 mb-1 bg-light rounded-3">
      			<div class="image_right">
      	    	<img src="{% static 'img/community.png' %}" alt="">
      				<div class="card">
      					<div class="card-header">
      						<h4>Foundry Partners</h4>
                  <p>Foundry partners include software development agencies, marketing experts, creative and UI experts and many other experts in related
                    fields that can help you get your product started and launch.  If you interested in joining as a Foundry Partner,
                    please reach out to us via the <a href="/contact">contact form</a>.
                  </p>
      					</div>
      					<div class="card-content">
      						<br/>
      						<a href="https://www.ajackus.com" target="_new"><img src="{% static 'img/ajackus.png' %}" width="75" height="75"></a>&nbsp;
      						<a href="https://www.ageofpeers.com" target="_new"><img src="{% static 'img/ageofpeers.png' %}" width="75" height="75"></a>&nbsp;
      						<a href="https://kurentco.com/" target="_new"><img src="{% static 'img/kurent.jpg' %}" width="75" height="75"></a>&nbsp;
      					</div>
      				</div>
      			</div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


{% endblock content %}
