{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
	<section id="core" class="about">
		<div class="container" data-aos="fade-up">
	    	<h2>The Buildly Foundry</h2>
	        <img src="{% static 'img/menjob.png' %}" height="500" alt="img Foundry" style="float: right;"/>
			<p>	The <b>Buildly Foundry</b> is a community driven effort available to select startups using the Insights tool. It is a collection of open source tools, 
				services, discounts, credits, and process frameworks that helps startup and enterprise teams launch, build, 
				and migrate applications on cloud-native architectures and maintain them long term.
			</p>
			<div class="card">
				<b>The Buildly Foundry and <a href="https://www.open.build">Open Build's</a> partnership in it helps drive technical development by providing:</b>

				<ul>
				<li>Buildly's easy to use cloud native architecture and a hosting service to build your new applications.</li>

				<li>Three months of free access to the Buildly Insights product and release tools to keep managers, stakeholders, and developers in sync with the state and progress of your application.</li>

				<li>Access to a network of Buildly-certified community development partners who can help with everything from marketing and sales to hiring and recruiting a CTO or remote development team.</li>

				</ul>
			</div>
			<p>
				Graduates of the Buildly Foundry receive discounted rates on Buildly's hosted products and release tools. 
				
				Join the Buildly Foundry, spend your time focused on the vision of your application, and stop worrying about technical problems.
			</p>
			<div class="content">
				<a href="https://www.f6s.com/foundry-2023/apply" class="btn-learn-more">Foundry Application</a>
			</div>
		</div>
	</section>
	<!-- ======= Portfoio Section ======= -->
	<section id="portfolio" class="portfoio">
		<div class="container" data-aos="fade-up">
	
		  <div class="section-title">
			<h2>Foundry Participants and Partners</h2>
			<p>Our goal is to help every team and product that joins Buildly, both at the Foundry and Partner 
			  levels as well as the free open source and enterprise plans. Here we list some of the early adopters who have helped us get started and we couldn't get on without.</p>
		  </div>
	
		  <div class="row">
			<div class="col-lg-12 d-flex justify-content-center">
			  <ul id="portfolio-flters">
				<li data-filter="*" class="filter-active">All</li>
				<li data-filter=".filter-app">Foundry</li>
				<li data-filter=".filter-card">Partners</li>
			  </ul>
			</div>
		  </div>
	
		  <div class="row portfolio-container">
	
			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
			  <img src="{% static 'img/transparentpath.jpg' %}" class="img-fluid" alt="">
			  <div class="portfolio-info">
				<h4>Transparent Path</h4>
				<p>Cold Chain Monitoring and Logistics (Foundry 2021) </p>
				<a href="{% static 'img/transparentpath.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
				<a href="https://www.transparentpath.com" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
			  </div>
			</div>
	
			<div class="col-lg-4 col-md-6 portfolio-item filter-card">
			  <img src="{% static 'img/ajackus.png' %}" class="img-fluid" alt="">
			  <div class="portfolio-info">
				<h4>Ajackus</h4>
				<p>Software Development</p>
				<a href="{% static 'img/ajackus.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
				<a href="https://www.ajackussoftware.com" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
			  </div>
			</div>
	
			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
			  <img src="{% static 'img/uprising.png' %}" class="img-fluid" alt="">
			  <div class="portfolio-info">
				<h4>Uprising</h4>
				<p>Micro Investment Platform (Foundry 2022)</p>
				<a href="{% static 'img/uprising.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
				<a href="https://www.uprisiing.global" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
			  </div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-app">
				<img src="{% static 'img/pevyspace.png' %}" class="img-fluid" alt="">
				<div class="portfolio-info">
				  <h4>PevySpace</h4>
				  <p>Data and API Web ETL Platform (Foundry 2022)</p>
				  <a href="{% static 'img/pevyspace.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
				  <a href="https://www.pevyspace.com" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
				</div>
			  </div>
	
			<div class="col-lg-4 col-md-6 portfolio-item filter-card">
			  <img src="{% static 'img/ageofpeers.png' %}" class="img-fluid" alt="">
			  <div class="portfolio-info">
				<h4>Age of Peers</h4>
				<p>Age of Peers</p>
				<a href="{% static 'img/ageofpeers.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
				<a href="https://www.ageofpeers.com" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
			  </div>
			</div>
	
		  </div>
	
		</div>
	  </section><!-- End Portfoio Section -->
</main>



{% endblock content %}
