{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<section id="services" class="services">
  <div class="section-title">
    <h2>
      Foundry Partners
    </h2>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6">
      <h2>Join the Buildly Partner Network and Foundry</h2>
      <p>
      <small class="text-muted">Join Buildly Insights, and find new clients and products first.</small>
      </p>
      <ul class="list-unstyled">
        <li><i class="bi bi-check2 text-warning"></i> The Cusotmer Comes to YOU!</li>
        <li><i class="bi bi-check2 text-warning"></i> Find New Startups Who Need Your Help</li>
        <li><i class="bi bi-check2 text-warning"></i> Customers Reffered Based on your Skills and Availability</li>
        <li><i class="bi bi-check2 text-warning"></i> Save Time and Effort</li>
        <li><i class="bi bi-check2 text-warning"></i> No Fiverr or UpWork style Fees!</li>
      </ul>
      <p>
        Experience a smarter and more efficient way of managing your software development projects with Buildly.  
        Development Partners provide services for Buildly Foundry members from all over the world.
      </p>
      <a href="https://insights.buildly.io/register" class="btn-learn-more">Sign Up Now</a>
    </div>
    <div class="col-md-6">
      <div class="bg-light p-4 rounded">
        <img src="{% static 'img/how-we-do-it.png' %}" alt="Buildly logo" class="img-fluid mb-4" style="max-width: 99%;">
        <p>Buildly is the perfect platform to find startup customers. We connect developers and agencies with startups who are looking for their expertise. Our personalized recommendations make it easy to find the right fit, saving you time and effort.</p>
      </div>
    </div>
  </div>
</section>
  <section id="partner-promo" class="partner-promo">
    <br/>
    <div class="section-title">
      <h2>
        Review AI assited budgets and Product Specs
      </h2>
    </div>
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <div class="row">
          <div class="col-lg-7 d-flex flex-column justify-content-top align-items-stretch" data-aos="fade-right">
            <div class="accordion-list">
              <ul>
                  <li data-aos="fade-up" data-aos-delay="100">Scaleable Startups
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                      <p>FinTechs, IoT, Media, Platforms, EdTech</p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="100">Small Business</li>
                  <li data-aos="fade-up" data-aos-delay="100">Enterprise Corporates</li>
                  <li data-aos="fade-up" data-aos-delay="100">Non-Profits and NGOs</li>
                  <li data-aos="fade-up" data-aos-delay="100">Government</li>
                  <li data-aos="fade-up" data-aos-delay="100">Education</li>
              </ul>  
            </div>
            <p>
              <small class="text-muted">Refferal Bonus for Bringing Your Customers Products</small>
            </p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2 text-warning"></i> Use Buildly Insights to Manage Client Products</li>
              <li><i class="bi bi-check2 text-warning"></i> Get a Refferal Bonus for Each new Clein</li>
              <li><i class="bi bi-check2 text-warning"></i> Improve Communication and Reporting</li>
              <li><i class="bi bi-check2 text-warning"></i> Automate Requirements Gathering for your Client</li>
            </ul>
            <section id="pricing" class="pricing">
              <div class="mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                  <h3>Developer</h3>
                  <h4><sup>$</sup>75<span> / month</span></h4>
                  <ul>
                    <li>Unlimited Products and Features</li>
                    <li>Unlimited Team Members</li>
                    <li>Product Roadmap and Release Planning</li>
                    <li>Release Management</li>
                    <li>Trello and GitHub Integrations</li>
                    <li>Partner Status</li>
                  </ul>
                  <div class="btn-wrap">
                    <a href="https://insights.buildly.io/register" class="btn-buy">Register Now</a>
                  </div>
                </div>
              </div>
           </section>
          </div>
          <div class="col-lg-5 position-relative"  data-aos="fade-left">
            <img src="{% static 'img/budget.png' %}" style="max-width: fit-content;">
          </div>
          
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <section id="services" class="services">
    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="400">
        <div class="icon-box">
          <i class="bi bi-brightness-high"></i>
          <h4><a href="#">Technical CoFounder</a></h4>
          <p>Provide Interim or Full time support for a startup or SMB.  Become a Co-Founder or Contract Lead and help lead your new team to a scaleable solution.</p>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="600">
        <div class="icon-box">
          <i class="bi bi-briefcase"></i>
          <h4><a href="#">Development Agency</a></h4>
          <p>As an agency you will provide the majority of the software development and technical team for a new product or update to an existing product.  Negotiate a budget based on the suggestions from Ingishts and get started as soon as you are ready.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
