{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="insights" class="about">
    <div class="container" data-aos="fade-up">
		<div class="container-commun__text">
		
			<div class="col-lg-12 d-flex justify-content-center">
				<div class="video-box" data-aos="fade-right">
					<iframe width="700" height="450" src="https://www.youtube.com/embed/cUvF9YFgyso" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
			</div>
		
		</div>
		<main class="conteiner-home">
			<div class="container-commun">
				<div class="container-commun__text">
					<h4 class="card-title">Buildly Insights</h4><br/>
					<div class="container">
						<div class="line">
						<p></p>
						</div>
					</div>
					<br/>
					<h1>Product Management for everyone, including developers!</h1>
					<p>
						Buildly Insights is a product management platform, designed to help product and development teams work better and faster together.  It is focused on building an inclusive team around every aspect of software development, but with a special focus on the processes that manage it and the communication and strategy needed to be successful at it.
					</p>
					<p>
						We use Machine Learning and proprietary AI models, trained on previous and public data sets to automate the requirements gathering process, create estimates and specs and that can be shared with prospective internal or external development teams. Once that process is completed, we transition teams to our release management API, where teams can now integrate with their own third party product and issue management tools and we help them communicate together as if it was one tool and they were just one team.
					</p>
				</div>
			</div>
		</main>
	</div>
</section>
<section id="opensource" class="about">
	<div class="container" data-aos="fade-up">
		<div class="container-commun__text">
			<h4 class="card-title">Open Source</h4><br/>
			<div class="col-lg-12 d-flex justify-content-center">
				<div class="video-box" data-aos="fade-right">
					<img src="{% static 'img/core_graphic.png' %}" width="700">
				</div>
			</div>
		</div>
		<main class="container">
			<div class="container-commun">
				<div class="container-commun__text">
					<h4 class="card-title"> Open Source - Buildly Core Gateway+</h4><br/>
					<div class="container">
						<div class="line">
							<p></p>
						</div>
					</div>
					<br/>
					<h1>Gateway + Microservice Architectures</h1>
					<p>
						With Buildly Gateway + Service, it's simple for teams to build microservice architectures that allow for centralized management, 
						passthrough authentication, and a data mesh. With Buildly Core, teams will feel like they are building a simple monolith or single-service application, 
						but with the division and reusable components to make merge conflicts and multiple requests a thing of the past.
					</p>
					<p>
						<div class="container">
							<a href="https://www.github.com/buildlyio" class="btn-learn-more">Join our GitHub Community</a>
						</div>
					</p>
				</div>
			</div>
		</main>
	</div>
</section>
<section id="components" class="about">
	<div class="container" data-aos="fade-up">
		<div class="container-commun__text">
			<h4 class="card-title">Open Source - Component Based Software Architecture</h4><br/>
			<div class="col-lg-12 d-flex justify-content-center">
				<div class="video-box" data-aos="fade-right">
					<!-- You can use styles and CSS on this iframe element where the video player will appear -->
					<iframe width="700" height="450" src="https://www.youtube.com/embed/I3GzElrCCrM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<main class="container">
			<div class="container-commun">
				<div class="container-commun__text">
					<h4 class="card-title">Buildly Open Source Components</h4><br/>
					<div class="container">
						<div class="line">
							<p></p>
						</div>
					</div>
					<br/>
					<h1>Software Components</h1>
					<p>
						With Buildly Gateway + System, a component-driven architecture allowing for reuse and single services allows microservice 
						architecture at the enterprise level to be incredibly simple and efficient. 
						When you reuse a service, it can be deployed and reconfigured in minutes, allowing for new versions to be managed from one 
						upstream service. If you hre-service a component, it can be used from one hosted service and database and reduce redundant data and allow for sharing across your organization or teams.  
					</p>
					<p>
						<div class="container">
							<a href="https://www.github.com/buildlyio" class="btn-learn-more">Join our GitHub Community</a>
						</div>
					</p>
				</div>
			</div>
		</main>
	</div>
</section>
<section id="opensource" class="opensource">
	<div class="container" data-aos="fade-up">
		<div class="container-commun__text">
			<h4 class="card-title">Open Source - Developer Tools</h4><br/>
			<div class="col-lg-12 d-flex justify-content-center">
				<div class="video-box" data-aos="fade-right">
				<!-- You can use styles and CSS on this iframe element where the video player will appear -->
				<iframe width="700" height="450" src="https://www.youtube.com/embed/SfQv9RjLHWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>	
			</div>
		</div>
		<main class="container">
			<div class="container-commun">
				<div class="container-commun__text">
					<h4 class="card-title">Buildly Open Source</h4><br/>
					<div class="container">
						<div class="line">
							<p></p>
						</div>
					</div>
					<br/>
					<h1>Software Architecture as a Service</h1>
					<p>
						We are fostering and growing a community of open source software developers, technical teams, and product owners to work on 
						refining the work of building products together, listening and respecting each other's opinions, 
						and speeding up the process so we can all focus on innovation and growth together as a community.
					</p>
					<p>
						<div class="entrada__contenido">
							<a href="https://www.github.com/buildlyio" class="btn-learn-more">Join our GitHub Community</a>
						</div>
					</p>
				</div>
			</div>
		</main>
	</div>
</section>

{% endblock content %}
