{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}


<section id="insights" class="about">
    <div class="container" data-aos="fade-up">
		<div class="container-commun__text">
			<h4 class="card-title">Products</h4><br/>
			<div>
				<div style="position: relative;">
					<iframe
						src="https://customer-oea4zxza4u5hx1zy.cloudflarestream.com/9f750b8f66e765ba499e8e7d7ce26cb2/iframe?preload=true&autoplay=true&poster=https%3A%2F%2Fcustomer-oea4zxza4u5hx1zy.cloudflarestream.com%2F9f750b8f66e765ba499e8e7d7ce26cb2%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D0h0m12s%26height%3D600"
						style="border: none"
						width="700"
						height="450"
						allow="accelerometer; gyroscope; encrypted-media; picture-in-picture;"
						allowfullscreen="true"></iframe>
				</div>
			</div>
		</div>
		<main class="conteiner-home">
			<div class="container-commun">
				<div class="container-commun__text">
					<h4 class="card-title">Buildly Insights</h4><br/>
					<div class="container">
					<div class="line">
					<p></p>
					</div>
					</div>
					<br/>
					<h1>Product Management for everyone, including developers!</h1>
					<p>
					Buildly Insights is a product management platform, designed to help product and development teams work better and faster together.  It is focused on building an inclusive team around every aspect of software development, but with a special focus on the processes that manage it and the communication and strategy needed to be successful at it.
					</p>
					<p>
					We use Machine Learning and proprietary AI models, trained on previous and public data sets to automate the requirements gathering process, create estimates and specs and that can be shared with prospective internal or external development teams. Once that process is completed, we transition teams to our release management API, where teams can now integrate with their own third party product and issue management tools and we help them communicate together as if it was one tool and they were just one team.
				</p>
				</div>
			</div>
		</main>
	</div>
</section>
<section id="core" class="about">
	<div class="container" data-aos="fade-up">
		<div class="container-commun__text">
			<h4 class="card-title">Core Gateway + Ooen Source</h4><br/>
				<div style="position: relative;">
					<!-- You can use styles and CSS on this iframe element where the video player will appear -->
					<iframe
					  src="https://customer-oea4zxza4u5hx1zy.cloudflarestream.com/f192d5dec1a35f2ec350f4ca97d9ca91/iframe"
					  style="border: none"
						width="700"
						height="450"
					  allow="accelerometer; gyroscope; encrypted-media; picture-in-picture;"
					  allowfullscreen="true"></iframe>

					<script src="https://embed.cloudflarestream.com/embed/sdk.latest.js"></script>

					<!-- Your JavaScript code below-->
					<script>
					  const player = Stream(document.getElementById('stream-player'));
					  player.addEventListener('play', () => {
					    console.log('playing!');
					  });
					  player.play().catch(() => {
					    console.log('playback failed, muting to try again');
					    player.muted = true;
					    player.play();
					  });
					</script>
				</div>
		</div>
		<main class="container">
			<div class="container-commun">
				<div class="container-commun__text">
					<h4 class="card-title">Buildly Open Source Core</h4><br/>
					<div class="container">
					<div class="line">
					<p></p>
					</div>
					</div>
					<br/>
					<h1>Gateway + Microservice Architectures</h1>
					<p>
						With Buildly Gateway + service, it's simple for teams to build microservice architectures that allow for centralized management, passthrough authentication and a datamesh.  
						With the Buildly Core teams will feel like that buildling a simple monolith or single service application, but with the division and reuseable components to make merge conflicts and 
						multiple requests a thing of the past.
					</p>
					<p>
						<div class="container">
							<a href="https://www.github.com/buildlyio" class="btn-learn-more">Join our GitHub Community</a>
						</div>
					</p>
				</div>
			</div>
		</main>
	</div>
</section>
<section id="components" class="about">
	<div class="container" data-aos="fade-up">
		<div class="container-commun__text">
			<h4 class="card-title">Component Based Software Architecture</h4><br/>
				<div style="position: relative;">
					<!-- You can use styles and CSS on this iframe element where the video player will appear -->
					<iframe
					  src="https://customer-oea4zxza4u5hx1zy.cloudflarestream.com/f192d5dec1a35f2ec350f4ca97d9ca91/iframe"
					  style="border: none"
						width="700"
						height="450"
					  allow="accelerometer; gyroscope; encrypted-media; picture-in-picture;"
					  allowfullscreen="true"></iframe>

					<script src="https://embed.cloudflarestream.com/embed/sdk.latest.js"></script>

					<!-- Your JavaScript code below-->
					<script>
					  const player = Stream(document.getElementById('stream-player'));
					  player.addEventListener('play', () => {
					    console.log('playing!');
					  });
					  player.play().catch(() => {
					    console.log('playback failed, muting to try again');
					    player.muted = true;
					    player.play();
					  });
					</script>
				</div>
		</div>
		<main class="container">
			<div class="container-commun">
				<div class="container-commun__text">
					<h4 class="card-title">Buildly Open Source Components</h4><br/>
					<div class="container">
					<div class="line">
					<p></p>
					</div>
					</div>
					<br/>
					<h1>Software Components</h1>
					<p>
						With Buildly Gateway + system, a components driven architecture, allowing for reuse and single services, allows microservice archtecture at the enterprise level to be incredible simple and efficent.
						When you reuse a service, it can be deployed and reconfigured in minutes and allow for new versions to be managed from one upstream service.  If you hre-service a component, it can be used from one hosted service and database and 
						reduce reduneant data and allow for sharing across you organization or teams.  
					</p>
					<p>
						<div class="container">
							<a href="https://www.github.com/buildlyio" class="btn-learn-more">Join our GitHub Community</a>
						</div>
					</p>
				</div>
			</div>
		</main>
	</div>
</section>
<section id="opensource" class="opensource">
	<div class="container" data-aos="fade-up">
		<div class="container-commun__text">
			<h4 class="card-title">Developer Tools</h4><br/>
				<div style="position: relative;">
					<!-- You can use styles and CSS on this iframe element where the video player will appear -->
					<iframe
					  src="https://customer-oea4zxza4u5hx1zy.cloudflarestream.com/f192d5dec1a35f2ec350f4ca97d9ca91/iframe"
					  style="border: none"
						width="700"
						height="450"
					  allow="accelerometer; gyroscope; encrypted-media; picture-in-picture;"
					  allowfullscreen="true"></iframe>

					<script src="https://embed.cloudflarestream.com/embed/sdk.latest.js"></script>

					<!-- Your JavaScript code below-->
					<script>
					  const player = Stream(document.getElementById('stream-player'));
					  player.addEventListener('play', () => {
					    console.log('playing!');
					  });
					  player.play().catch(() => {
					    console.log('playback failed, muting to try again');
					    player.muted = true;
					    player.play();
					  });
					</script>
				</div>
		</div>
		<main class="container">
			<div class="container-commun">
				<div class="container-commun__text">
					<h4 class="card-title">Buildly Open Source</h4><br/>
					<div class="container">
					<div class="line">
					<p></p>
					</div>
					</div>
					<br/>
					<h1>Software Architecture as a Service</h1>
					<p>
					We are fostering and growing a community of open source software developers, technical teams and product owners to work on refining the work of building products together, listening and respecting each others opinions and speeding up the process so we can all focus on innovation and growth, together as a community
					</p>
					<p>
						<div class="entrada__contenido">
							<a href="https://www.github.com/buildlyio" class="btn-learn-more">Join our GitHub Community</a>
						</div>
					</p>
				</div>
			</div>
		</main>
	</div>
</section>


{% endblock content %}
