{% extends "insights_base.html" %}
{% load static %}

{% block content %}

{% load static %}
<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>

<style>
@media (min-width: 1025px) {
}

a {
  color:#F9943B;
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #a1c4fd;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

.bg-indigo {
background-color: #0B6AB7;
}
@media (min-width: 992px) {
.card-registration-2 .bg-indigo {
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}
}
@media (max-width: 991px) {
.card-registration-2 .bg-indigo {
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
}

</style>

          

<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <!--Register-->

		<div class="card px-5 py-5" style="border-radius: 15px;">

        <div class="section-title">
          <h2>
            Foundry Partner Registration
          </h2>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            <h4>Join the Buildly Partner Network and Foundry</h4>
            <p>
            <small class="text-muted">Join Buildly Insights, and find new clients and products first.</small>
            </p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2 text-warning"></i> The Cusotmer Comes to YOU!</li>
              <li><i class="bi bi-check2 text-warning"></i> Specs and Budgets For Your Review</li>
              <li><i class="bi bi-check2 text-warning"></i> Customers Reffered Based on your Skills and Availability</li>
              <li><i class="bi bi-check2 text-warning"></i> Save Time and Effort</li>
              <li><i class="bi bi-check2 text-warning"></i> No Fiverr or UpWork style Fees!</li>
            </ul>
            <p>
              Experience a smarter and more efficient way of managing your software development projects with Buildly.  
              Development Partners provide services for Buildly Foundry members from all over the world.
            </p>
          </div>
          <div class="col-md-6">
            <div class="bg-light p-4 rounded">
              <img src="{% static 'img/how-we-do-it.png' %}" alt="Buildly logo" class="img-fluid mb-4" style="max-width: 99%;">
              <p>Buildly is the perfect platform to find startup customers. We connect developers and agencies with startups who are looking for their expertise. Our personalized recommendations make it easy to find the right fit, saving you time and effort.</p>
            </div>
          </div>
        </div>
  
    </div>

    {% if error_message %}
    <br/>
    <div class="card px-5 py-5" style="border-radius: 15px;">
      <div class="text-center mt-4">
        <span>There was a problem with you Registration...</span>
        <p>
        <small class="mt-2 text-muted">{{ error_message }}</small>
        </p>
        <a href="https://insights.buildly.io/login" class="text-decoration-none">Login</a>
      </div>
    </div>
    {% endif %}
    <br/>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <form method="post">
                  {% csrf_token %}
                  <h3 class="fw-normal mb-5" style="color: #0B6AB7;">Organization Infomation</h3>

                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <input type="text" id="orgname" class="form-control form-control-lg" name="organization"/>
                      <label class="form-label" for="orgname">Organization Name</label>
                    </div>

                  </div>

                  <div class="mb-4 pb-2">
                    <select class="select form-control form-control-lg" name="type" id="type">
                      <option value="">-- select -- </option>
                      <option value="1">Agency</option>
                      <option value="2">Technical CoFounder</option>
                      <option value="3">Other</option>
                    </select>
                    <label class="form-label" for="type">Organization Type</label>
                  </div>

                  <div class="form-outline">
                    <div class="mb-4 pb-2">
                      <select class="select form-control form-control-lg" name="technical_type" id="technical_type">
                        <option value="">-- select -- </option>
                        <option value="1">Software Development</option>
                        <option value="2">Design UI/UX</option>
                        <option value="3">Marketing</option>
                        <option value="3">Finance</option>
                        <option value="3">Investor/Accelerator</option>
                      </select>
                      <label class="form-label" for="technical_type">Specialty</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <select name="timezone_offset" id="timezone-offset" class="span5 form-control form-control-lg" id="timezone">
                      <option value="">-- select -- </option>
                      <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
                      <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
                      <option value="-10:00">(GMT -10:00) Hawaii</option>
                      <option value="-09:50">(GMT -9:30) Taiohae</option>
                      <option value="-09:00">(GMT -9:00) Alaska</option>
                      <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                      <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                      <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                      <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                      <option value="-04:50">(GMT -4:30) Caracas</option>
                      <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                      <option value="-03:50">(GMT -3:30) Newfoundland</option>
                      <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                      <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
                      <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
                      <option value="+00:00">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                      <option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
                      <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
                      <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                      <option value="+03:50">(GMT +3:30) Tehran</option>
                      <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                      <option value="+04:50">(GMT +4:30) Kabul</option>
                      <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                      <option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                      <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
                      <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                      <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
                      <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                      <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                      <option value="+08:75">(GMT +8:45) Eucla</option>
                      <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                      <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
                      <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                      <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
                      <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                      <option value="+11:50">(GMT +11:30) Norfolk Island</option>
                      <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                      <option value="+12:75">(GMT +12:45) Chatham Islands</option>
                      <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
                      <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
                    </select>
                    <label class="form-label" for="timezone">TimeZone/Location</label>
                  </div>

                </div>
              </div>
              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">User Registration</h3>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="first_name" class="form-control form-control-lg" name="first_name"/>
                      <label class="form-label" for="first_name">First Name</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="last_name" class="form-control form-control-lg" name="last_name"/>
                      <label class="form-label" for="last_name">Last Name</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="user_name" class="form-control form-control-lg" name="user_name"/>
                      <label class="form-label" for="user_name">User Name</label>
                    </div>
                  </div>


                  <div class="mb-4">
                    <div class="form-outline form-white">
                      <input type="text" id="email" class="form-control form-control-lg" name="email"/>
                      <label class="form-label" for="email">Your Email</label>
                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="form-outline form-white">
                      <input type="password" id="password" class="form-control form-control-lg" name="password"/>
                      <label class="form-label" for="password">Password</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-start mb-4 pb-3">
      
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label" for="flexCheckChecked">
                        I have read and accept the <a href="https://buildly.io/tos/">terms of service</a> and <a href="https://buildly.io/privacy/">privacy policy</a>
                      </label>
                  </div>

                  <button type="submit" class="btn btn-light btn-lg"
                    data-mdb-ripple-color="dark">Register</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="card px-5 py-5" style="border-radius: 15px;">
          <div class="text-center mt-4">
            <span>Already a member?</span>
            <a href="https://insights.buildly.io/login" class="text-decoration-none">Login</a>
          </div>
          <small class="mt-2 text-muted"></small>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  $(document).ready(function() {
    $("#orgname").autocomplete({
      source: function(request, response) {
        $.getJSON("https://insights-api.buildly.io/organization/names/", {
          name: request.term
        }, function(data) {
          response($.map(data, function(item) {
            return {
              label: item.name,
              value: item.name,
              id: item.id
            };
          }));
        });
      },
      minLength: 2,
      select: function(event, ui) {
        $("#orgname").val(ui.item.id);
      }
    });
  });
</script>


{% endblock content %}