{% load i18n wagtailcore_tags %}
{% load static %}

<!--  -->
<main class="conteiner-home">
  <div class="container" id="slides">
    <div id="homeCarousel" class="carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="{% static 'img/pcHeader.png' %}" class="img-bottom" style="margin-left: 480px; margin-top: 100px;" >
          <div class="carousel-caption d-none d-md-block">
            <h2 style="text-align: justify; margin-left: -140px; margin-top: 70px">Build with Insights</h2>
            <p style="text-align: justify; margin-left: -140px; margin-top: 60px">Buildly Insights let’s you communicate with your remote<br/> development team to build products that matter and ensure the<br/> quality is there for your product’s growth.</p>
            <img src="{% static 'img/insights-logo.png' %}" class="img-bottom" style="float: center; width: 267.3px; margin-left: 0px; margin-top: 30px">
            <nav class="navegation">
              <a style="text-align: justify; margin-left: -150px; margin-top: 60px" href="https://insights.buildly.io/register" class="button button--secondary">Register Now</a>

              <a style="text-align: justify; margin-left: 20px; margin-top: 60px" href="https://insights.buildly.io/register" class="button1">Learn more</a>
            </nav>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="60000">
          <div style="position: relative; padding-top: 56.25%;">
            <iframe src="https://customer-oea4zxza4u5hx1zy.cloudflarestream.com/f2f795be2701fe767dfa9c05812210f9/iframe?preload=true&autoplay=true&poster=https%3A%2F%2Fcustomer-oea4zxza4u5hx1zy.cloudflarestream.com%2F9f750b8f66e765ba499e8e7d7ce26cb2%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D0h0m12s%26height%3D600" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h2 style="text-align: justify; margin-left: -140px; margin-top: 10px">How does it work?</h2>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="{% static 'img/AI.png' %}" class="img-bottom" style="width:400px; float: right; margin: 75px;">
          <div class="carousel-caption d-none d-md-block" style="width: 500px;">
            <h2 style="text-align: justify; margin-left: -140px; margin-top: 70px">Idea Translation AI</h2>
              <p style="text-align: justify; margin-left: -140px; margin-top: 70px">Buildly Insights AI <b>translates your product ideas into technical documentation</b>
                to speed up the development budgeting phase.
                <br/>
                <br/>
                Once the documentation is translated, import your features from Trello, and then
                use one of our other API integrations to share your technical tickets via GitHub<br/>
                <nav class="navegation">
                  <p style="text-align: justify; margin-left: -150px; margin-top: 60px">(Available Now) or Jira (Coming Soon!)</p>

                  <img src="{% static 'img/github.png' %}" class="img-bottom" style="width:70px; float: right;  margin-left: 20px; margin-top: 60px">

                </nav>
                <br/>
                <a style="text-align: justify; margin-left: 200px; margin-top: 60px" href="https://insights.buildly.io/register" class="button button--secondary">Register Now</a>
              </p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</main>

<br/>
<br/>
<br/>
<br/>

<div class="container">
      <div class="Do_it text-center">
        <div class="card-body">
          <h2>How We Do It!</h2>
          <div class="line" style="float: center; width: 62px; margin-left: 500px;">
            <p></p>
          </div>
        <br/>
          <p class="card-text">Designed for product and remote development teams to  communicate better and build quickly.  We use our proprietary <br/> trained models and data to translate, suggest and create estimates and architectures so you can build with confidence <br/> or go to the development community with confidence in your product.</p>
        </div>


        <div class="row mb-3">
          <div class="col"><img src="{% static 'img/notes 1.png' %}" width="38" alt=""><br/><br/>
            Guideded Requirements <br/> Gathering
          </div>
          <div class="line-grey">
            <p></p>
          </div>
          <div class="col"><img src="{% static 'img/speech.png' %}" width="38" alt=""><br/><br/>
            AI Translates your idea to <br/> Technical Documentation
          </div>
          <div class="line-grey">
            <p></p>
          </div>
          <div class="col"><img src="{% static 'img/coding.png' %}" width="38" alt=""><br/><br/>
            Share your new documentation <br/> with your team <br/> or a Buildly Developer Partner
          </div>
          <div class="line-grey">
            <p></p>
          </div>
          <div class="col"><img src="{% static 'img/rocket.png' %}" width="38" alt=""><br/><br/>
            Faster and Easier with Release and Change <br/> Management build in</div>
        </div>
      </div>
  <br/>

<main class="conteiner-home">
	<div class="container-commun">
    <div style="position: relative; left: 0; top: 0;">
      <img src="{% static 'img/Automated.png' %}" class='front_img'/>
      <img src="{% static 'img/OrangeRectangule.png' %}" class="orangeR"/>
    </div>

    <div class="container-commun__text">
      <h4 class="card-title">Automated Communication</h4><br/>
      <div class="container">
        <div class="line">
            <p></p>
        </div>
      </div><br/>
      <br/>
			<p>
        Insights provides communication and alert tools so remote and in-house teams can communicate more clearly and 
        get timely alerts about <b>Release Timelines, Testing and when that important feature will be ready for customers. </b>
      </p>
			<div class="entrada__contenido">
				<a href="https://insights.buildly.io" class="button button--primary">Get Started</a>
			</div>
		</div>
	</div>
</main>

<main class="conteiner-home">
	<div class="container-commun">

		<div class="container-commun__text">
      <h4 class="card-title">Release Management</h4><br/>
      <div class="container">
        <div class="line">
            <p></p>
        </div>
      </div><br/>
      <br/>
			<p>
        If your working with <b>remote or in-house teams</b> communication about when to test, review or document a release can be difficult.
        With Insights, as a product manager can use your own Project Mangement tool to plan features for a release and still get notifications and updates about progress and request from developers
        without having to login in or maintain an account in there issue tracking tool.
      </p>
        <p>
          Developers can <b>automate communication of milestone completion and releases that are ready for testing or feedback</b>from one place.
        </p>
			<div class="entrada__contenido">
				<a href="/news/" class="button button--primary">Get Started with Buildly Insights</a>
			</div>
		</div>

    <div style="position: relative; left: 0; top: 0;">
      <img src="{% static 'img/Management.png' %}" class='img_front'/>
      <img src="{% static 'img/OrangeRectangule.png' %}" class="orangeB"/>
    </div>
	</div>
</main>

<main class="conteiner-home">
	<div class="container-commun">
    <div style="position: relative; left: 0; top: 0;">
      <img src="{% static 'img/Built Fast.png' %}" class='front_img'/>
      <img src="{% static 'img/OrangeRectangule.png' %}" class="orangeR"/>
    </div>


    <div class="container-commun__text">
      <h4 class="card-title">Product Ideas -> Built Fast</h4><br/>
      <div class="container">
        <div class="line">
            <p></p>
        </div>
      </div><br/>
      <br/>
			<p>
        Starting a new product can be a time consuming and frustrating process.  The discovery phase includes things like budgeting, timelines and architecting a solution,
        as well as establishing solid and consistent communication protocols.  The <b>Buildly Insights logic and AI components</b> 
        handles all of that for you in minutes instead of weeks.
      </p>
      <h1>Budgets and Estimates</h1>
      <p>
        Insights uses a combination of <b>wizard like data collection algorithms</b>, combined with a set of <b>AI and ML
        data models and example data sets to translate your non-technical requirements</b> into technical issues or tickets.  Then it gathers all of that into planned
        releases to provide solid estimates that <b>learn and adapt and improve overall team performance with each iteration and release.</b>
      </p>
			<div class="entrada__contenido">
				<a href="https://insights.buildly.io/register" class="button button--primary">Get Started</a>
			</div>
		</div>
	</div>
</div>
</main>

<main class="conteiner-home">
	<div class="container-commun">
		<div class="container-commun__text">
      <h4 class="card-title">Buildly Community</h4><br/>
      <div class="container">
        <div class="line">
            <p></p>
        </div>
      </div><br/>
      <br/>
			<p>The Buildly Community is a combination of software developers, product and UI teams as well as marketing and business process organizations working to create a more inclusive open source community for us all to work with.</p>
			<p>The Community helps each other grow and learn as well as promote each others business, priortize changes to the <a href="https://www.github.com/buildlyio">Buildly Open Source modules</a>.</p>
			<div class="entrada__contenido">
				<a href="/community" class="button button--primary">Join our community</a>
			</div>
		</div>

    <div style="position: relative; left: 0; top: 0;">
      <img src="{% static 'img/Community.png' %}" class='img_front'/>
      <img src="{% static 'img/OrangeRectangule.png' %}" class="orangeB"/>
    </div>
	</div>
</main>
<br/>
<br/>

<main class="conteiner-home">
	<div class="container-commun">
    <div style="position: relative; left: 0; top: 0;">
      <img src="{% static 'img/AnyQuestions.png' %}" class='any'/>
      <img src="{% static 'img/AnyQuestionsR.png' %}" class="questions"/>
    </div>

    <div class="container-commun__text">
      <h4 class="card-questions">Any Questions?</h4>
			<p>Reach out to our support team who can guide your through the product and help you <br/> go from idea to product.</p>
      <nav class="navegation">
        <a href="/contact/" class="button button--primary">Get In Touch</a>
        <a href="/faq/" class="button button--secondary">Check our FAQs</a>
      </nav>
		</div>
	</div>
</main>

<main class="conteiner-home">
  <div class="conteiner-commun">
    <div class="now text-center">
      <div class="c-body">
        <p class="c-text">Are you ready to Start Building with Buildly?</p>
        <h2>GET STARTED NOW</h2>
        <br/>
        <a href="https://insights.buildly.io/register" class="button button--squere">Get Started</a>
      </div>
    </div>
  </div>
</main>
<br/>
<br/>
<br/>
