{% load i18n wagtailcore_tags %}
{% load static %}

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        Register now for private beta access to &nbsp; <a href="https://insights.buildly.io/register"><img src="{% static 'img/insights-logo.png' %}" width="150"></a>
      </div>
      <div class="cta d-none d-md-block">
        <a href="https://insights.buildly.io/register" class="scrollto">Register Now</a>
      </div>
    </div>
  </div>