{% load i18n wagtailcore_tags %}
{% load static %}

  <!-- ======= Footer ======= -->

  <footer id="footer" class="footer">
  <div class="footer-top">
    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Buildly, Inc.</h3>
              <p>

                Portland, OR, USA<br><br>
                <strong>Email:</strong> info@buildly.io<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>

              <li><i class="bi bi-chevron-right"></i> <a href="https://insights.buildly.io" class="navegation__link">{% trans "Insights" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/foundry/" class="navegation__link">{% trans "Foundry" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/news/" class="navegation__link">{% trans "News" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/about/" class="navegation__link">{% trans "About" %}</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/community/" class="navegation__link">{% trans "Community" %}</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Privacy and Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#/terms">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/faq" class="navegation__link">FAQs</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/about" class="navegation__link">About Us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/contact" class="navegation__link">Contact Us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/privacy">Privacy Policty</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Our Newsletter</h4>
            <p>Sign up for the Buildly Insights Newsletter to get the latest info on release and open source projects</p>
            <style>
              .label{
                color: #FFFFFF !important;
              }
            </style>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
            <script>
              hbspt.forms.create({
                region: "na1",
                portalId: "6404322",
                formId: "61f05315-94e9-420e-a973-3620c0c09833"
              });
            </script>


          </div>

        </div>
      </div>
    </div>
  </div>
    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Buildly, Inc.</span></strong>. All Rights Reserved
          </div>
         
        </div>


      </div>
          <a href="https://twitter.com/buildly_io" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/buildly_io" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/buildly_io/?igshid=YmMyMTA2M2Y%3D" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://github.com/buildlyio" class="github"><i class="bi bi-github"></i></a>
          <a href="http://www.linkedin.com/company/buildlyio" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
