{% load i18n wagtailcore_tags %}
{% load static %}

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/" class="logo"><img src="{% static 'img/buildly-logo-white-transparent.png' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>

          <li><a href="/" class="nav-link scrollto">{% trans "Home" %}</a></li>
          <li class="dropdown megamenu"><a href="/products/"><span>Products</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li>
                <a href="/products#insights">Buildly Insights</a>
                <a href="/products#core">Buildly Core Gateway +</a>
                <a href="/products#core">Buildly Components</a>
                <a href="/products#opensource">Buildly Open Source</a>
              </li>
            </ul>
          </li>
          <li><a href="/foundry/" class="nav-link scrollto">{% trans "Foundry" %}</a></li>
          <li><a href="/community/" class="nav-link scrollto">{% trans "Community" %}</a></li>
          <li><a href="/about/" class="nav-link scrollto">{% trans "About" %}</a></li>
          <li><a href="/news/" class="nav-link scrollto">{% trans "News" %}</a></li>
          <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

    </div>

</header>
